.App {
  text-align: center;
  background-color: blue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

LocalVideo {
  height: 120px;
  width: 120px;
  background-color: #282c34;
  color: white;
  border-color: blue;
  border-style: solid;
}

#video {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#previewVideo {
  display: flex;
  background-color: black;
  position: relative;
  height: 500px;
  width: 50px;
  color: white;
  flex: 1;
  border-color: red;
  border-style: solid;
}

.gridVideo {
  flex: 1;
  background-color: red;
  position: relative;
  height: 500px;
  width: 100px;
  display: flex;
  color: green;
  border: green;
  border-style: solid;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
